*{
    box-sizing: border-box;
}
body{
   padding: 20px 10px;
   border-radius:12px ;
   text-align: center;
   background-color:#93b2be; 
   margin: 0;

}
h1, h2{
    letter-spacing: -1px;
    margin-top: 150px;
    font-family: display;
}
h1{
    font-size: 62px;
}
h2{
    font-size:48px;
}
p{
    margin-top: 20px;
}
label{
    margin: 20px;
    font-size: 20px;
    color: white;
}
input{
    margin: 8px;
    background-color: aliceblue;
}
button{
    background-color: #58707a;
    margin-top: 7px;
    font-size: 16px;
    padding: 5px 7px;
    color: white;
}
button:link,  button:visited{
    color: #b17cd4dc;
}
button:hover,  button:active{
    color: blue;
}
 ul{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
} 

a{
    text-decoration: none;
    font-size: 24px;
    padding: 4px 8px;
    background-color: #5a7985 ;
    color: white;
    border-radius: 5px; 
  
}
small{
    font-size: 16px;
    border-radius: 5px;
}
div{
    display: flex;
    padding:20px 30px ;
    background-color: #385865;
    margin: 2px auto;
    border-radius: 20px;
    max-width: min-content;
}
i{
    padding: 10px;
    background-color: #c5dce4;
    border-radius:20px ;
}
.forget{
    font-size: 16px;
    color: white;
    background-color: transparent;
}
.main-an{
     display: flex;
    gap: 2rem;
}
.para{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 12px;

}
.rg-h{
    margin-top: 80px;
}